.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:bisque;
    color: fff;
    padding: 1rem;
}

.links{
    color: blue;
}

.navbar-left .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}